@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: serif
}

header {
    text-align: center;
    font-size: 30px;
    font-family: Bangers, cursive;
    cursor: default;
}

.todo-input {
    width: 500px;
    height: 20px;
    align-self: center;
    margin-right: 30px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;

}

.post-button {
    background-color: #863d80;
    border: 2px solid #863d80;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer
}

.post-button:hover {
    background-color: white; /* Green */
    color: black;
}

.post {
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    max-width: 70%;
    margin: 50px auto 0;
}

.completed {
    box-shadow: 0px 16px 16px rgba(56, 206, 53, 0.44);
    background: rgba(56, 206, 53, 0.44);
}

.task-text {
    max-width: 80%;
    font-family: Verdana, sans-serif;
    align-self: center;
    font-size: 20px;
    overflow: hidden;
}

.edit-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete-button {
    font-size: 16px;
    margin-right: 3px;
    cursor: pointer;
    padding: 3px;

}

.complete-button:hover {
    /*box-shadow: 0 12px 16px 0 rgba(76, 126, 173, 0.64);*/
    border-radius: 7px;
    background-color: rgba(130, 178, 210, 0.84);
    box-shadow: 0 0 40px rgba(76, 126, 173, 0.64); /* Light shadow on hover */
}

.delete-button {
    margin-right: 5px;
    color: #fff; /* White text color */
    border: none; /* Remove the button border */
    padding: 10px 20px; /* Add padding to the button */ /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
}


.delete-img {
    cursor: pointer;
}

.edit-button {
    margin-right: 5px;
    background-color: #4c7ead;
    border: 2px solid #4c7ead;
    border-radius: 12px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer
}

.edit-button:hover {
    background-color: white;
    color: black;
}

.edit-input {
    font-size: 20px;
    margin-left: 20px;
    width: 100%;
}

/* Add styles for the left sidebar */
.left-sidebar {
    border-right: 2px solid black;
    width: 10%; /* Set the width of the left sidebar */
    padding: 20px; /* Padding inside the sidebar */
    position: fixed;
    left: 0;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-sidebar li {
    list-style-type: none
}

/* Style for the heading inside the sidebar */
.left-sidebar h2 {
    text-align: center;
    font-size: 18px; /* Font size for the heading */
    margin-bottom: 10px; /* Margin below the heading */
    margin-top: 30px; /* Remove default top margin */
}

.todo-group {
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto 0;
    padding: 10px;
    overflow: hidden;
}

.add-todo-to-group-button {
    cursor: pointer;
    color: #863d80;
    margin-left: 70px;
    padding: 0px;

}

.todo-group-text {
    text-align: left;
    cursor: pointer;
}

.delete-group-button {
    margin-left: 5px;
    color: #fff; /* White text color */
    border: none; /* Remove the button border */
    padding: 0px 2px; /* Add padding to the button */ /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
}

.group-enter-bar {
    position: inherit;
    margin-bottom: 400px;
    left: -100%; /* Start off-screen to the right */
    width: 8.6%;
    transition: left 0.5s ease; /* Add a transition for the sliding effect */
    margin-left: 25px;
}

.group-enter-bar.visible {
    left: 0; /* Slide in from the right */
}

.open-enter-bar-group-button {
    color: #0d6ecc;
    cursor: pointer;
    position: absolute; /* Set the position of the button to absolute */
    top: 0px; /* Adjust the top distance as needed */
    right: 5px; /* Adjust the right distance as needed */
}

.add-group-button {
    margin-left: 3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    color: green;
    left: -100%; /* Start off-screen to the right */
    transition: left 0.5s ease; /* Add a transition for the sliding effect */
}

.add-group-button.visible {
    left: 0;
}

.todo-group.selected {
    font-weight: bold;
    box-shadow: 5px 5px #863d80;

}